.image-container {
    position: relative;
    display: inline-block;
}

.hover-overlay {
    position: absolute;
    bottom: 0; /* Align the overlay to the bottom */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease;
    color: white;
    font-weight: bold;
    padding: 10px; /* Adjust the padding as needed */
}


.image-container:hover .hover-overlay {
    opacity: 1; /* Show the overlay on hover */
}

.image-overlay:hover {
    opacity: 1; /* Show the overlay on hover */
}

.button-name {
    color: white;
    background: #333;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
